*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background:#e2ecff;
}
nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav img{
  width: 100px;
  height: 100px;
}
nav img:hover{
  opacity: 0.6;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
}
.details{
  margin-left: 8%;
  margin-top: 15%;
}
.details h1{
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}
span{
  color: rgb(172, 12, 172);
}
span:hover{
  color: red;
}
.details a{
  background: #212121;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;

}
.images{
  width: 40%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 100%;
}
.images img {
  height: 100%;
  position: absolute;
  left: 60%;
  bottom: 0;
  transform: translatex(255%);
  transition: bottom 1s, left 1s;
}
.images .shape{
  left: 60%;                      
}
.images .boy{
  width: 40%;
  height: 115%;
  left: 177%;
}
.images:hover .shape{
  bottom: 40px;
}
.images:hover .boy{
  left: 182%;
} 
/*-------about me------*/
#about{
  background:#e2ecff;
  padding: 100%, 0;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pic{
  padding-left: 50px;
  flex-basis: 35%;
}
.pic img{
  border-radius: 15px;
  width: 100%;
  
}
.about-col-2{
  flex-basis: 50%;
}
.sub{
  font-size: 60px;
  font-weight: 600;
}
.sub:hover{
  color:  red;
}